# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

enu_Tensorflow(2.0)/src/swigwin-3.0.10/**
enu_Tensorflow(2.0)/src/tensorflow/**
enu_Tensorflow(2.0)/src/tensorflow_gpu/**

enu_Tensorflow(2.0)/src/Utility Program/**
enu_Tensorflow(2.0)/src/cudnn-9.1-windows10-x64-v7/**
enu_Tensorflow(2.0)/src/cudnn-8.0-windows10-x64-v5.1/**

enu_Tensorflow(2.0)/src/enuSpace_Tensorflow/Debug/**
enu_Tensorflow(2.0)/src/enuSpace_Tensorflow/ipch/**
enu_Tensorflow(2.0)/src/enuSpace_Tensorflow/x64/**
enu_Tensorflow(2.0)/src/enuSpace_Tensorflow/.vs/**
enu_Tensorflow(2.0)/src/enuSpace_Tensorflow/enu_tensorflow/Debug/**
enu_Tensorflow(2.0)/src/enuSpace_Tensorflow/enu_tensorflow/ipch/**
enu_Tensorflow(2.0)/src/enuSpace_Tensorflow/enu_tensorflow/tensorflow.VC.db
enu_Tensorflow(2.0)/src/enuSpace_Tensorflow/enu_tensorflow/tensorflow/Debug/**
enu_Tensorflow(2.0)/src/enuSpace_Tensorflow/enu_tensorflow/tensorflow/x64/**
enu_Tensorflow(2.0)/src/enuSpace_Tensorflow/enu_tensorflow/.vs/**
*.bmp
*.VC.VC.opendb
*.VC.db
enu_Tensorflow(2.0)/sample_project/tensorflow/Task/Logic/.vs/**
enu_Tensorflow(2.0)/sample_project/tensorflow/Task/enu_tensorflow2_0/.vs/**



